/* GLOBALS----------------------------------------------------------- */
/* fonts */
@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  src: local("Gilroy-SemiBold"),
    url("./media/fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy-Light"),
    url("./media/fonts/Gilroy-Light.woff") format("woff");
}

h1,
.title {
  font-family: "Gilroy-SemiBold";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  color: #fff;
}
h2,
p,
body,
.txt {
  font-family: "Gilroy";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}
.sec-txt {
  font-family: "Gilroy-SemiBold";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4375rem;
  color: #fff;
}
.nav-txt {
  font-family: "Gilroy";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #fff;
}
.nav-txt-hlght,
.txt-hlght {
  font-family: "Gilroy-SemiBold";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #fff;
}
.sub-txt {
  font-family: "Gilroy";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

/* spacing */
.spacing {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}

/* comps */
body {
  background: #212121;
  margin: 0;
}

section {
}

nav > * {
  box-sizing: border-box;
  padding: 0 16px;
  height: 36px;
  display: flex;
  align-items: center;
  font-style: normal;
  color: #fff;
}
a {
  text-decoration: none;
}

/* buttons */
button {
  font-family: "Gilroy-SemiBold";
}
.but-line {
}
.but-fill {
}

/* animations */

/* classes */
.flex-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.moile-only {
  display: flex;
}
.desktop-only {
  display: none;
}

/* LOCALS-------------------------------------------------------------------- */
.content-cont {
  display: grid;
  /* grid-template-columns: 1fr 200px; */
  width: 100%;
  overflow-x: hidden;
}
.content-cont > * {
  min-height: Calc(100vh - 97px);
  border: 1px solid blue;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .spacing {
    margin: auto;
    width: 720px;
  }
  .moile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
  .content-cont {
    grid-template-columns: 1fr;
  }
  .content-cont > *:last-child {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .spacing {
    margin: auto;
    width: 940px;
  }
}

@media only screen and (min-width: 1200px) {
  .spacing {
    margin: auto;
    width: 1140px;
  }
}
