.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  min-height: 88px;
  pointer-events: none;
}
.App-txt {
  height: 2.5vmin;
  min-height: 24px;
  pointer-events: none;
  margin: max(4vmin, 36px) 0;
}

.App-header {
  background-color: #1c252e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
