.input-input {
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  height: 36px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  width: 200px;
}

.srch-input::placeholder {
  font-size: inherit;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.5);
}

.srch-cont {
  flex-direction: row-reverse;
}
