.sect-car-cont {
  box-sizing: border-box;
  grid-template-areas:
    "lbl"
    "mida"
    "txt"
    "act";
}
.sect-car-cont > * {
  width: Calc(100% - 32px);
}
@media only screen and (min-width: 768px) {
  .sect-car-cont {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "lbl lbl"
      "txt act"
      "mida mida";
  }
  .sect-car-cont > * {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  .sect-car-cont {
    grid-template-columns: 100px 300px 1fr;
    grid-template-areas:
      "lbl txt act"
      ". mida mida";
  }
}

@media only screen and (min-width: 1200px) {
  .sect-car-cont {
    grid-template-columns: 100px 400px 1fr;
  }
}
