.project-car {
  width: 100vw;
}
.car-sec-slide {
  box-sizing: border-box;
  padding-right: 16px;
}
.car-sec-slide img {
  width: 100%;
  height: 200px;
}

.car-sec-car-wrap > * {
  overflow: visible;
}

@media only screen and (min-width: 768px) {
  .project-car {
    margin-top: 24px;
    /* height: 300px; */
  }
  .car-sec-slide img {
    height: 300px;
  }
}
@media only screen and (min-width: 960px) {
  .project-car {
    margin-top: 48px;
    /* height: 350px; */
  }
  .car-sec-slide img {
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .project-car {
    margin-top: 72px;
    /* height: 500px; */
  }
  .car-sec-slideimg {
    height: 500px;
  }
}
