.project-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.project-act-img {
  position: absolute;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  border: 1px solid red;
}
.project-act-img img {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: block;
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
}
.button-overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 50;
}
.proj-but-top,
.proj-but {
  position: absolute;
  padding: 0 16px;
  height: 36px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(4px);
  left: 0;
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
}
.proj-but-top {
  top: 56px;
}

.info-cont {
  max-width: 250px;
  overflow: hidden;
  height: 0;
  transition: 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.info-cont-ext {
  height: 300px;
}

.project-img-gal {
  position: absolute;
  /* overflow-y: hidden; */
  bottom: 0;
  left: 16px;
  width: 100%;
  opacity: 0;
  transform: translateY(160px);
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
  animation: reveal-up 0.45s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes reveal-up {
  0% {
    opacity: 0;
    transform: translateY(160px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .project-img-gal>*:not(:last-child) */
.project-img-gal img {
  height: 112px;
  width: 168px;
  object-fit: cover;
  display: block;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  box-sizing: border-box;
}

.project-img-gal .slick-list {
  overflow: visible;
}
.project-img-gal .slick-slide div {
  outline: none !important;
}

.project-img-gal img:hover {
  transform: translateY(-8px);
}
.act-img-tile {
  border-top: 3px solid white;
}

@media only screen and (min-width: 768px) {
  .project-img-gal {
    left: 0;
  }
}
