.project-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.project-cont img {
  position: absolute;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  display: block;
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
}
.button-overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 50;
}
.proj-but-top,
.proj-but {
  position: absolute;
  padding: 0 16px;
  height: 36px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(4px);
  left: 0;
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
}
.proj-but-top {
  top: 56px;
}

.info-cont {
  width: 250px;
  overflow: hidden;
  height: 0;
  transition: 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.info-cont-ext {
  height: 300px;
}
