.Landing-cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Landing-cont .land-nav-arr svg {
  height: 24px;
  width: 24px;
}

@media only screen and (min-width: 768px) {
  .Landing-cont .land-nav-arr svg {
    height: 36px;
    width: 36px;
  }
}
