.sect-cont {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  grid-template-areas:
    "lbl"
    "mida"
    "txt";
}
.rev-sect-cont {
  grid-template-areas:
    "lbl"
    "txt"
    "mida";
}
.sect-cont > * {
  position: relative;
}

.sect-lbl {
  grid-area: lbl;
}
.sect-mdia {
  grid-area: mida;
}
.sect-txt {
  grid-area: txt;
}

.sect-lbl > * {
  padding-bottom: 14px;
}
.sect-lbl-lin {
  position: absolute;
  right: Calc(100% - 80px);
  bottom: 0;
}

.med-wrap {
  position: relative;
}
.med-wrap img {
  height: auto;
  width: 100%;
  object-fit: fill;
  display: block;
}

.med-shad-top,
.med-shad-bot {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
.med-shad-top {
  top: -8px;
  left: -8px;
}
.med-shad-bot {
  right: -8px;
  bottom: -8px;
}

.serv-div {
  margin: 24px 0;
}

.Highlight-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8px;
}
.Highlight-con-lin {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .sect-cont {
    padding: 0;
    width: 720px;
    grid-column-gap: 32px;
    grid-row-gap: 24px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "lbl lbl"
      "txt mida";
  }

  .sect-mdia {
    padding-left: 20px;
  }
  .sect-txt {
    padding-right: 20px;
  }

  .med-wrap img {
    height: 100%;
    width: auto;
  }
  .med-shad-top {
    top: -20px;
    left: -20px;
  }
  .med-shad-bot {
    right: -20px;
    bottom: -20px;
  }
}

@media only screen and (min-width: 960px) {
  .sect-cont {
    width: 940px;
    grid-column-gap: 32px;
    grid-row-gap: 0;
    grid-template-columns: 100px 300px 1fr;
    grid-template-areas: "lbl txt mida";
  }

  .sect-mdia {
    padding-left: 20px;
  }
  .sect-txt {
    padding-right: 20px;
  }
  .med-shad-top {
    top: -30px;
    left: -30px;
  }
  .med-shad-bot {
    right: -30px;
    bottom: -30px;
  }
}

@media only screen and (min-width: 1200px) {
  .sect-cont {
    width: 1140px;
    grid-column-gap: 20px;
    grid-template-columns: 100px 350px 1fr;
    grid-template-areas: "lbl txt mida";
  }

  .sect-lbl {
    padding-rit: 40px;
  }
  .sect-mdia {
    padding-left: 40px;
  }
  .sect-txt {
    padding: 0 40px;
  }
  .med-shad-top {
    top: -40px;
    left: -40px;
  }
  .med-shad-bot {
    right: -40px;
    bottom: -40px;
  }
}
