.serv-txt-cont {
  cursor: pointer;
}
.h1-sec-txt {
  transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0.6;
}

.h1-active-sec-txt,
.h1-sec-txt:hover {
  opacity: 1;
}
.serv-itm-txt {
  margin: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  animation: reveal-txt 0.45s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes reveal-txt {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.serv-itm-txt-act {
  margin: 12px 0;
  height: auto;
}
