.srch-input {
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  width: 177px;
}

.srch-input::placeholder {
  font-size: inherit;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.5);
}

.srch-cont {
  flex-direction: row-reverse;
}
.srch-input:focus {
  width: Calc(177px + 32px);
}
.srch-input:focus ~ svg {
  display: none;
  /* border: 1px solid red; */
}
