.srch-input {
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  background: none;
  border: none;
  outline: none;

  box-sizing: border-box;
}

.srch-input::placeholder {
  font-size: inherit;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.5);
}

.srch-cont {
  flex-direction: row-reverse;
  width: 100%;
  background: #212121;
}
.srch-input {
  width: 100%;
}
.srch-input:focus ~ svg {
  display: none;
  /* border: 1px solid red; */
}
@media only screen and (min-width: 768px) {
  .srch-cont {
    width: 228px;
  }
}
