.header-cont {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 016px;
  background: rgba(33, 33, 33, 0.85);
  backdrop-filter: blur(5px);
  height: 56px;
}
.header-cont a {
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.header-cont a:hover {
  opacity: 0.5;
}
.header-cont-sml {
  height: 48px;
}

.header-cont .core-links a {
  height: 56px;
}

.core-links .nav-txt-hlght {
  border-bottom: 3px solid #fff;
}

.menu-butn {
  padding: 6px;
  margin-right: -6px;
  cursor: pointer;
  border-radius: 2px;
}
.menu-butn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.header-svg {
  display: none;
}
.active-svg {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header-cont {
    padding: 0 24px;
  }
}
